# A single-node Flume Kafka sink configuration example for Linux Audit

# Name the components on this agent
agent.sources = tailFile
agent.sinks = kafka-sink
agent.channels = memory-channel

# Describe/configure the source
agent.sources.tailFile.type = exec

# Note: You have to put in /etc/sudoers this entry in order
# to run privileged tails:
#
# flume ALL=(root) NOPASSWD: /usr/bin/tail -F /var/log/audit/audit.log
# Defaults:flume !requiretty
#
agent.sources.tailFile.command = sudo tail -F /var/log/audit/audit.log
agent.sources.tailFile.channels = memory-channel

# Describe the sinks
agent.sinks.kafka-sink.channel = memory-channel
agent.sinks.kafka-sink.type = org.apache.flume.sink.kafka.KafkaSink
agent.sinks.kafka-sink.zk.connect = zookeeper-host1:2181,zookeeper-host2:2181,zookeeper-host3:2181
agent.sinks.kafka-sink.topic = auditd
agent.sinks.kafka-sink.batchsize = 200
agent.sinks.kafka-sink.producer.type = async
agent.sinks.kafka-sink.serializar.class = kafka.serializer.class
agent.sinks.kafka-sink.metadata.broker.list = kafkaserv-1:9092,kafkaserv-2:9092,kafkaserv-3:9092 

# Use a channel which buffers events in memory
agent.channels.memory-channel.type = memory
agent.channels.memory-channel.capacity = 1000
agent.channels.memory-channel.transactionCapacity = 100
